:root {
    --dk-ink: #1f2937;
    --white: #f9faf8;
    --mouse: #e5e7eb;
}
body {
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
section {
    min-height: 20vh;
}
.dark-bg {
    background-color: var(--dk-ink);
    color: var(--white);
}
.lite-bg {
    background-color: var(--white);
    color: var(--dk-ink);
}
.gray-bg {
    background-color: var(--mouse);
    color: var(--dk-ink);
}