/* elements */

@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Reggae One');
:root {
    --dk-ink: #1f2937;
    --bright-ink: #3882F6;
    --white: #f9faf8;
    --mouse: #e5e7eb;
    --link-color: #9bc3f1;
    --limit-width: 75rem;
}
body {
    margin: 0;
    font-size: 2rem;
    font-family: 'Kanit', 'Impact', 'Arial Narrow Bold', sans-serif;
}
section {
    padding: 3vh;
}
header > * {
    padding-top: 0.6rem;
    justify-content: space-between;
    width: 100%;
}
a {
    color: var(--link-color);
}
button {
    font-family: 'Reggae One', sans-serif;
    font-size: 1.2rem;
    padding: 0.8rem 2.0rem;
    border-radius: 10px;
    flex: 0 0 auto;
}

/* utilities */

div.limit-width {
    max-width: var(--limit-width);
    margin: 0 auto 0 auto;
    display: flex;
    gap: 2vmax
}
.crop {
    flex: 0 1 content;
    min-width: 0;
    align-self: center;
}
.crop img {
    width: 100%;
    object-fit: cover;
}
.flx {
    display: flex;
}
.dark-bg {
    background-color: var(--dk-ink);
    color: var(--white);
}
.lite-bg {
    background-color: var(--white);
    color: var(--dk-ink);
}
.gray-bg {
    background-color: var(--mouse);
    color: var(--dk-ink);
}

/* header */

.head-logo {
    flex: 0 0 auto;
    font-size: 2.4rem;
    font-weight: bold;
}
.head-link {
    font-size: 1.6rem;
    color: var(--mouse);
    gap: 1.5ex;
}

/* hero */

section.hero {
    min-height: 70vh;
    display: flex;
    align-items: stretch;
}
section.hero > *{
    align-items: center;
}
.hero article {
    flex: 0 6 auto;
}
.hero h1 {
    margin-block-start: 0;
    margin-block-end: 0.4em;
    font-size: 3.6rem;
    font-weight: bolder;
    /* max-width: 7em; */
}
.hero p {
    font-size: 1.6rem;
    color: var(--mouse);
    /* max-width: 20em; */
}
.hero button {
    background-color: var(--bright-ink);
    color: var(--white);
    border: none;
}

/* random information */

section.random > * {
    --limit-width: 55rem;
    flex-direction: column;
    justify-items: center;
}
.random h1 {
    margin: .5em auto;
    text-align: center;
    font-size: 1.8rem;
}
div.grab-bag {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    text-align: center;
}
.random .crop {
    max-width: fit-content;
}
.random .crop img {
    border-radius: 20px;
    border: var(--bright-ink) solid 5px;
}
.random figure {
    flex: 0 1 120px;
    margin: 8px;
}

/* inspiring quote */

section.quote > * {
    --limit-width: 55rem;
    flex-direction: column;
    padding: 2.5rem;
}
.quote p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 100;
    font-style: italic;
    max-width: 25em;
    margin: auto 1em;
    align-self: center;
}
aside.quote-attrib {
    align-self: end;
    font-weight: bolder;
    font-size: 1.8rem;
}

/* cta */

section.cta {
    padding: 5rem;
}
.interact-box {
    max-width: var(--limit-width);
    margin: auto;
    display: flex;
    background-color: var(--bright-ink);
    color: var(--white);
    border-radius: 0.8rem;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
}
.interact-box article {
    margin: 3vh;
    margin-right: 0;
    max-width: 20em;
    flex-shrink: 2;
}
.interact-box h1 {
    margin: 0.25em;
}
.interact-box button {
    color: var(--white);
    margin: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1.8px;
    background-color: var(--bright-ink);
}

/* footer */
footer {
    padding: 0.6rem;
    font-size: 1.6rem;
    text-align: center;
}